.pic-selection{
    margin-top: 3%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color{
    color: rgb(32, 174, 187);
    color: linear-gradient(310deg, rgba(41,208,224,0.5) 0%, rgba(0,122,115,0.5) 25%, rgba(0,157,137,0.5) 50%, rgba(0,144,171,0.5) 75%, rgba(0,132,135,0.5) 100%);
}

.img-presa{
    width: 600px;
    border: 20px solid rgb(255, 255, 255);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, .3);
    transform: translateX(500px) rotate(20deg);
    transition: .3s;
}

.img-presb{
    width: 400px;
    border: 20px solid rgb(255, 255, 255);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, .3);
    transform: rotate(-20deg);
    transition: .3s;
}

.img-presc{
    width: 600px;
    border: 20px solid rgb(255, 255, 255);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, .3);
    transform: translateX(-600px) rotate(-10deg);  
    transition: .3s;
    
}

.pic-selection:hover .img-presa{
    transform: translateX(-50px) ;
    transform: rotate(-5deg);
    transition: .3s;
} 

.pic-selection:hover .img-presc{
    transform: translateX(50px) ;
    transform: rotate(10deg);
    transition: .3s;
} 

.pic-selection:hover .img-presb{
    scale: 1.2;
    transform: rotate(15deg); 
    transition: .3s;
} 

/* ------------ Skills -------------*/

.text{
    font-size: 18px;
    width: 50%;
}

.text-wrap{
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin: 3%;
}

h1{
    margin-left: 6%;
    font-size: 60px;
    width: 100%;
    opacity: .6;
}

.h2{
    margin: 0px;
    font-size: 100px;
}


h3{
    margin: 0px;
    font-size: 60px;
    opacity: .7;
    width: 50%;
}

.skills-wrap{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}

.skills-wrapa{
    display: flex;
    flex-direction: row;
}

.skills-top{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skills-pic{
    width: 40%;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

.roles{
    width: 100%;
    margin: 5%;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.role{
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid rgb(53, 53, 53, .1);
    margin: 1%;
    padding-left:4%;
    padding-right:5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roleh{
    width:100%;
    margin-bottom: 3%;
}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
    width: 100%;
}

.skill{
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid rgb(53, 53, 53, .6);
    margin: 1%;
}

/* ------------ HIREME -------------*/

.hire-wrapper{
    margin: 10%;
    margin-top: 15%;
    margin-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.cnt{
    font-size: 60px;
    align-self: flex-start;
    margin: 0px;
}

.formm{
    display: flex; 
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 3%;
    background-color: white;
    font-size: 18px;
    width: 40%;
}

.fminput{
    border: 0px;
    border-bottom: 1px solid rgb(31, 31, 31, .7);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    outline: none;
    transition: .3s;
}

.fminput:focus{
    outline: none;
    transition: .3s;
}

.y-msg{
    height: 120px;
    margin:0px;
    width: 100%;
    display: flex;
}

.submitbtn{
    border: 0px;
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    outline: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(150px) translateX(-50px);
    transition: .3s;
}

#subject{
  width: 100%;
  padding: 12px;
  border: 0px;
  padding: 2px;
  border-bottom: 1px solid rgb(31, 31, 31, .7);
  box-sizing: border-box;
  resize: vertical;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

.submitbtn:hover{
    transform: translateY(137px) translateX(-45px);
    scale: 1.1;
    transition: .3s;
    color: white;
    box-shadow: 6px 6px 10px rgb(32, 174, 187, .6);
    background-color: rgb(32, 174, 187);
    background-color: linear-gradient(310deg, rgba(41,208,224,0.5) 0%, rgba(0,122,115,0.5) 25%, rgba(0,157,137,0.5) 50%, rgba(0,144,171,0.5) 75%, rgba(0,132,135,0.5) 100%);
}