.top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.wrap-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.work{
    
    height: 1000px;
    background-image: url("/website/images/ps1.jpg");
    background-position: center;
    background-size: cover;
}

.fader{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,1) 100%);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardwrapper{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.card{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(191, 166, 214, 0.301);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 200px;
    border-radius: 10px; 
    margin-left: 25px;
    margin-right: 25px;
    /* instead of adding shadows to this, change the shadown in JS based on which element is in the middle  */
} 

.card-content{
    height: 97%;
    width: 95%;
    background-color: rgb(127, 78, 173);
    border-radius: 10px;
    background-image: url("/website/images/ps1.jpg");
    background-position: center;
    background-size: cover;
}

#cardINfocus{
    height: 110%;
    width: 220px;
}

#card-unf-left{

}

#card-unf-right{
    
}

#card-unf-left-left{

}

#card-unf-right-right{
    
}