.swiper {
  width: 100vw;
  height: 100vh;
  margin: 0rem;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 40rem;
  padding: 0rem 2rem 0rem 2rem;
}

.swiper-slide div {
  width: 100%;
}
