/* 

--- 01 Typography System ---

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- font weights: 

Default: 400 

- line height: 1



--- 02 Color System ---

primary: 

tints: 

shades:

accents:

greys:

--- 03 Shadows ---

--- 04 Border-radius ---

--- 05 Whitespace ---

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Section: 

--- 06 Layout ---

-nav
-hero
-carousel
-more work button
-what do I offer (cards / bubbles)
-some ideas about me
-footer (contact)

---Floating button that will switch to coding. 

*/

/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Background gradient */

.background-gradient {
  background: linear-gradient(
    348deg,
    #239678,
    #44e8bd,
    #44b4e8,
    #4baa7d,
    #00ffdf
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 40s ease infinite;
  -moz-animation: AnimationName 40s ease infinite;
  animation: AnimationName 40s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

/* Sections */

/* NAV */

nav {
  width: 100vw;
  height: 6.4rem;
  padding: 0rem 12.8rem;

  /* display properties for the navigation bar*/
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* font-sizes of the navigation bar */
  font-size: 1.6rem;
  font-weight: 600;
}

nav div a:link,
:visited {
  text-decoration: none;
  text-transform: uppercase;

  /* style of the button */
  margin-left: 3.2rem;
  padding: 1.6rem;
  color: #ffffff;
}

nav div a:hover {
  /* experiment with hover */
  box-shadow: 0px 0px 2rem 0.2rem #ffffff;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 10rem;
  /* background-color: #e100ff4d; */

  padding: 0rem 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer a:link,
a:visited {
  font-size: 1.4rem;
  text-decoration: none;

  display: flex;
  align-items: center;
}

footer a svg {
  margin-right: 1rem;
}
