.work {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 6vw 12.8rem 0vw 12.8rem;
  height: 100%;
  color: #fff;
}

/* WORK HEADER */

.work-header {
  /* ***** The 12.8 rem header doesn't look bad and I might use it actually. jsut not here */
  /* font-size: 12.8rem; */
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.work-title {
  font-size: 4rem;
}

.work-text {
  font-size: 3.2rem;
}

.work-wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.work-controls-wrap {
  display: flex;
  gap: 2rem;
}

/* Work button */

.work-button {
  font-size: 2.4rem;
  padding: 1.6rem 3.2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.work-botton:hover,
.work-button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* WORK PROJECT CSS */

.work-projects-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.work-project {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 6.2rem;
}

.work-project-image {
  width: 12.8rem;
  height: 100%;
  object-fit: cover;
  grid-row: 1 / 3;
}

.work-project-title {
  font-size: 4.2rem;
}

.work-project-text {
  grid-column: 2;
  font-size: 1.6rem;
}
